@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'cwTeXFangSong', serif;
}

@media only screen and (max-width: 590px) {

.fixed {
    width: 45px;
    margin: 30px 0px 0px 30px;
    position: fixed;
    top: 0;
    left: 0;
}

.fixed .positioning {
    text-align: center;
    font-size: 0.1em;
    font-weight: bold;
}

.fixed .positioning span {
    text-decoration: none;
    color: black;
    padding: 5px 0px 5px 0px;
    display: block;
    cursor:pointer;
}

.workspage {
    width: 100%;
}

.workspage .killer_whale {
    width: 100%;
}

.workspage .text {
    width: 65vw;
    font-size: 1.4em;
    padding: 10px 0px 20px 20px;
    margin: 0px auto 0px;
}

.workspage .sperm_whale {
    width: 100%;
}

img {
    width: 100%;
}

}
